@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root {
  /*ТИПОГРАФИКА*/
  --PRIMARY-FONT: 'Inter', sans-serif;
  --DESKTOP-H2: 50px;
  --DESKTOP-FS-MAIN: 20px;
  --DESKTOP-FS-CART: 48px;
  --DESKTOP-FS-ACCENT: 14px;
  --DESKTOP-FS-ALT: 16px;
  --DESKTOP-FS-ALT-2X: 32px;
  --MOBILE-FS-ALT-1ANDHALFX: 28px;
  --MOBILE-FS-MAIN: 16px;
  --MOBILE-FS-ACCENT: 10px;
  --MOBILE-FS-ALT: 14px;

  /*ЦВЕТА*/
  --MAIN-WHITE: #FFFFFF;
  --ALT-WHITE: #fbfbfb;
  --MAIN-GRAY: #C8C8D2;
  --ALT-GRAY: #D9D9D9;
  --BORDER-GRAY: #ECEFF3;
  --MAIN-BLACK: #272727;
  --ALT-BLACK: #323232;
  --MAIN-THEME-COL: hsl(56, 94%, 57%);

  /*ЛАЙАУТ ДЕСКТОПА*/
  --DESKTOP-MAX-WIDTH: 1440px;
  --DESKTOP-2X-PADDING: 60px;
  --DESKTOP-PADDING: 30px;
  --DESKTOP-HALF-PADDING: 15px;
  --DESKTOP-2X-MARGIN: 60px;
  --DESKTOP-MARGIN: 30px;
  --DESKTOP-HALF-MARGIN: 15px;

  /*ЛАЙАУТ ТЕЛЕФОНА*/
  --MOBILE-MAX-WIDTH: 480px;
  --MOBILE-2X-PADDING: 40px;
  --MOBILE-PADDING: 20px;
  --MOBILE-HALF-PADDING: 10px;
  --MOBILE-2X-MARGIN: 40px;
  --MOBILE-MARGIN: 20px;
  --MOBILE-HALF-MARGIN: 10px;
}

/* СБРОС СТИЛЕЙ */
* {
	padding: 0px;
	margin: 0px;
	border: none;
  font-family: var(--PRIMARY-FONT);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}


/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  
}

/* Полоса прокрутки */
::-webkit-scrollbar {
  width: 4px; 
  height: 4px;

}

/* Ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background: var(--MAIN-THEME-COL); 
  border-radius: 8px; 
  transition: all 0.3s ease-in-out;
}

/* Ползунок скроллбара при наведении */
::-webkit-scrollbar-thumb:hover {
  background:var(--ALT-BLACK); 
}

/* Трек скроллбара */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 8px; 
}
/* Полоса прокрутки */
scrollbar {
  width: 4px; 
  height: 4px;
}

/* Ползунок скроллбара */
scrollbar-thumb {
  background: var(--MAIN-THEME-COL); 
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

/* Ползунок скроллбара при наведении */
scrollbar-thumb:hover {
  background: var(--ALT-BLACK); 
}

/* Трек скроллбара */
scrollbar-track {
  background: #f1f1f1; 
  border-radius: 8px; 
}

/* Полоса прокрутки */
::-ms-scrollbar {
  width: 4px; 
  height: 4px;
}

/* Ползунок скроллбара */
::-ms-scrollbar-thumb {
  background: var(--MAIN-THEME-COL); 
  border-radius: 8px; 
  transition: all 0.3s ease-in-out;
}

/* Ползунок скроллбара при наведении */
::-ms-scrollbar-thumb:hover {
  background: var(--ALT-BLACK);
}

/* Трек скроллбара */
::-ms-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}

/* Убираем стрелки в браузерах на основе WebKit */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Убираем стрелки в Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.no-scroll {
  overflow: hidden;
}